---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob('../pages/posts/*.md');
---
<BaseLayout pageTitle="My Blog">
    <div class="container">
        <p>This is where I will post about my journey learning Astro.</p>
        <p>My Posts list: </p>
        <ul class="ul ul-blog">
            {allPosts.map(post => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
    </div>
</BaseLayout>
        
